.red{
    color: $logo-red;
}

.blue{
    color: $logo-blue;
}

.green{
    color: $logo-green;
}

.yellow{
    color: $logo-yellow;
}

.exclaim{
    display:inline-block;
    font-size: 2.5rem;
    transform:  rotate(12deg);
    @include mediaQ(768px){
        font-size: 5rem;
    }
}

.offscreen{
    position: absolute;
    left:-100000px;
}

.none{
        display: none;
}

.flex{
    display: flex;
}
